.div1 {
  width: 100px;
  height: 100px;
  text-align: center;
  background-color: skyblue;
  line-height: 100px;
}

/* 가상 클래스 선택자
  - hover, active, visited, focus, checked
  - E:hover{} : 요소에 마우스가 올라가 있는 동안
  - E:active{} : 요소에 마우스 클릭 or 엔터가 눌리는 동안
  - E:visited{} : 요소가 링크일 때, 방문했다면 스타일 변경 (a태그)
  - E:focus{} : 요소에 포커스가 머물러 있는 동안
  - E:checked{} : 요소가 체크 되었을 때 Ex) radio, checkbox
*/

.div1:hover {
  background-color: yellow;
  height: 150px;
}

.div1:active {
  background-color: orange;
  width: 150px;
}

input:focus {
  background-color: blueviolet;
  color: #ffffff;
  outline-color: aqua;
}

a:visited {
  color: #ccc;
}

input#rabbit:checked + label {
  background-color: pink;
  color: white;
}

/*
  - E:first-child{} : E가 첫번째 자식이라면 선택
  - E:last-child{} : E가 마지막 자식이라면 선택
  - E:nth-child(n){} : E가 n번째 자식이라면 선택
  - E:nth-of-type(n){} : E요소 중에 n번째를 선택
  - E:not(XYZ){} : XYZ가 아닌 E요소를 선택
*/

/* zoo의 자식 요소들 모두 선택! */
.zoo > * {
  background-color: green;
  color: white;
  font-size: 20px;
}

/* zoo클래스의 마지막 자식이 li라면 스타일 적용! */
.zoo > li:last-child {
  background-color: #000000;
}

/* 첫번째 자식 요소가 h1이라 이 스타일은 적용이 안 됨...! */
.zoo > li:first-child {
  background-color: yellow;
}

/* li 태그가 첫번째 자식이 아니더라도 li 태그 중에 첫번째를 골라서 적용시켜라 */
.zoo > li:nth-of-type(1) {
  background-color: blue;
}

/* zoo 자식중에 어떤 태그라도 첫번째 자식에 적용하겠다! */
.zoo > *:first-child {
  background-color: yellowgreen;
}

/* odd -> 홀수만 선택함(1,3,5...2n+1번째) */
.zoo > li:nth-child(odd) {
  background-color: pink;
}

/*
  가상 요소 선택자
  - E::after, E::before {}
  - content 속성 필수로 들어가야함👊👊
*/

.h3 {
  background-color: yellow;
}

.h3::after {
  content: "이것도 붙나?";
  color: #dddddd;
}

.h3::before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 50px;
  background-color: red;
}

.box::before {
  content: "택시";
}

.box::after {
  content: "빨리";
}