body {
  /* 움직이고자 하는 요소의 부모 요소에 줘야함 */
  perspective: 500px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: skyblue;
  border: 1px solid black;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 2s ease 0s;
}

.box1:hover {
  /* transform: translateX(50px) scaleX(2); */
  width: 200px;
}

.box2:hover {
  transform: translate(50%, 0) skewX(-45deg);
}

.box3:hover {
  background-color: blue;
  border-radius: 50%;
  transform: translateX(400px) rotate(360deg);
}

.box4:hover {
  background-color: yellow;
  transform: translateY(50px) rotateY(360deg) scale(2);
}
